
.tempdir _temp
.outdir _out

.config debug
.config release


.config nomicroprofile 	release

.config asan 			release			osx linux
.config ubsan 			release			osx linux
.config tsan	 		release			osx linux
.config msan 			release			osx linux


includepath 			.
includepath 			..
includepath 			../microprofile



cflags 					-DJQ_ASSERT_LOCKS
cflags 					-DMICROPROFILE_MAX_THREADS=128
cflags 					-DMICROPROFILE_GPU_TIMERS=0

cflags 					-DJQ_MICROPROFILE
cflags 					-DJQ_MICROPROFILE_VERBOSE
cflags.nomicroprofile	-DMICROPROFILE_ENABLED=0



cflags.asan 			-fsanitize=address
ldflags.asan 			-fsanitize=address

#disable because microprofile causes tsan to trigger
cflags.tsan				-DMICROPROFILE_ENABLED=0
cflags.tsan 			-fsanitize=thread
ldflags.tsan 			-fsanitize=thread

cflags.ubsan 			-fsanitize=undefined
#-fsanitize-trap=undefined
ldflags.ubsan 			-fsanitize=undefined
# -fsanitize-trap=undefined

cflags.msan 			-fsanitize=memory
cflags.msan 			-fsanitize-memory-track-origins=2 -fno-omit-frame-pointer
ldflags.msan 			-fsanitize=memory


.ngen.osx				ngen.osx
.ngen.linux				ngen.linux
.ngen.win32 			ngen.win32


.file ../jq2.cpp
.file ../jqinternal.cpp
.file ../microprofile/microprofile.cpp


.file.win32 	../boost_context/jump_x86_64_ms_pe_masm.asm
.file.win32  	../boost_context/make_x86_64_ms_pe_masm.asm

.file.linux 	../boost_context/jump_x86_64_sysv_elf_gas.S
.file.linux  	../boost_context/make_x86_64_sysv_elf_gas.S

.file.osx 		../boost_context/jump_x86_64_sysv_macho_gas.S
.file.osx 		../boost_context/make_x86_64_sysv_macho_gas.S


.target demo_simple
	.file demo_simple.cpp
.end

.target demo_full
	.file demo_full.cpp
.end

.target demo_profile
	.file demo_profile.cpp
.end

